


.card {
   background-color: antiquewhite;
   width: 400px;
   height: 600px;
  }

  .The_Golan_Heights{

      width: 400px;
      height: 400px;     
}

 .part_2 span {
   text-decoration: underline;
   color:burlywood;
  }


 
