* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.flex {
  margin: auto;
  background-color: antiquewhite;
  width: 500px;
  height: 350px;
  display: flex;
  margin-top: 100px;
  position: relative;
}
.boxes {
  background-color: black;
  width: 100px;
  height: 100px;
}
#box1 {
  position: absolute;
  background-color: green;
  left: 0;
  top: 0;
}
#box2 {
  position: absolute;
  background-color: blue;
  top: 0;
  right: 200px;
}
#box3 {
  position: absolute;
  background-color: red;
  top: 0;
  right: 0;
}
