* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  
  display: flex;
  justify-content: flex-end;
  background-color: aquamarine;
}
.navbar li {
  margin: 20px;
  list-style: none;
}
.navbar li a {
  text-decoration: none;
}

#sec1 {
  /* position: relative; */
  display: flex;
  justify-content: center;
  
}
#sec2 {
  /* position: relative; */
  display: flex;
  justify-content: center;
}

.image {
    
  width: 200px;
  height: 300px;
}
p {
  width: 300px;
  height: 300px;
  padding: 20px;
  margin: 20px;
  text-decoration: none;
}
h3{
    width: 200px;
    height: 300px;
    margin: 25px;   
}
#sec3{
    position: relative;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    flex-wrap:wrap;  
  }
}
