header {
  background-color: black;
  color: aliceblue;
  text-align: center;
  padding: 5px 10px;
  height: 30vh;
}

@media (max-width: 500px) {
  header {
    height: 100vh;
  }
}
@media (min-width: 500px) {
  header {
    height: 45vh;
  }
}
